@model IEnumerable<OfficeAuto.Data.ApplicationUser>

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="#">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>

    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
                <i class="icon-speech"></i>
            </a>
            <a class="btn" href="./">
                <i class="icon-graph"></i> &nbsp;Dashboard
            </a>
            <a class="btn" href="#">
                <i class="icon-settings"></i> &nbsp;Settings
            </a>
        </div>
    </li>
</ol>
<div class="container-fluid">

    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-table"></i> Users
                <div class="card-header-actions">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-success">Create New</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        @*<table id="dataTables_1" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Province)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CampusId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeptId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CampusId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeptId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" asp-action="AssignAOLAOD" asp-route-id="@item.Id"><i class="fa fa-user-secret"></i></a>
                        </td>
                    </tr>
                }

        </table>*@
                        <table id="dataTables" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                   
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Province
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        CampusId
                                    </th>
                                    <th>
                                        DeptId
                                    </th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Mr Saqlain Arif
                                    </td>
                                    <td>
                                        saqlain.sial05@gmail.com
                                    </td>
                                    <td>
                                        House # 2d, near shell pump g-6/4 Islambad asdf
                                    </td>
                                    <td>
                                        Islamabad asdf
                                    </td>
                                    <td>
                                        Capital asdf
                                    </td>
                                    <td>
                                        Pakistanasdf
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Users/Edit/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-edit"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/Users/AssignAOLAOD/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-user-secret"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Mr Raheel
                                    </td>
                                    <td>
                                        saqlain.sial05@gmail.com
                                    </td>
                                    <td>
                                        House # 2d, near shell pump g-6/4 Islambad asdf
                                    </td>
                                    <td>
                                        Islamabad asdf
                                    </td>
                                    <td>
                                        Capital asdf
                                    </td>
                                    <td>
                                        Pakistanasdf
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Users/Edit/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-edit"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/Users/AssignAOLAOD/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-user-secret"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Mr Sajjad
                                    </td>
                                    <td>
                                        saqlain.sial05@gmail.com
                                    </td>
                                    <td>
                                        House # 2d, near shell pump g-6/4 Islambad asdf
                                    </td>
                                    <td>
                                        Islamabad asdf
                                    </td>
                                    <td>
                                        Capital asdf
                                    </td>
                                    <td>
                                        Pakistanasdf
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/Users/Edit/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-edit"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/Users/AssignAOLAOD/17e42f1a-8a0e-468b-af03-71f8b31a6e4a"><i class="fa fa-user-secret"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





