@model OfficeAuto.Models.ViewModels.CaseViewModel
@using OfficeAuto.Helpers;
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@{
    ViewData["Title"] = "Create";
    var refdocs = (List<OfficeAuto.Models.DB.ReferenceDoc>)ViewBag.RefDocs;
}


<h2>Create</h2>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" id="id" value="@ViewBag.CaseId" />*@
            <input asp-for="Id" class="form-control" hidden="hidden" readonly />
            <input asp-for="MinuteId" class="form-control" hidden="hidden" readonly />
            <div class="form-group">
                <label asp-for="CaseTitle" class="control-label"></label>
                <input asp-for="CaseTitle" class="form-control" />
                <span asp-validation-for="CaseTitle" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="DateCreated" class="control-label"></label>
                    <input asp-for="DateCreated" class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control">
                    @*<option selected="selected" value="">Please select</option>*@
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="MinuteNumber" class="control-label"></label>
                    <input asp-for="MinuteNumber" class="form-control" />
                    <span asp-validation-for="MinuteNumber" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="MinuteTitle" class="control-label"></label>
                    <input asp-for="MinuteTitle" class="form-control" />
                    <span asp-validation-for="MinuteTitle" class="text-danger"></span>
                </div>*@
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" id="Description" name="Description" hidden />

                    @await Html.PartialAsync("_PartialCKEditor.cshtml")

                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                @*<select asp-for="AssignedTo" asp-items="(List<SelectListItem>)ViewBag.Users" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>*@

                <select name="AssignedTo" asp-for="AssignedTo" asp-items="ViewBag.Users" class="form-control multipleSelect" multiple></select>@*(List<SelectListItem> )*@

                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input type="hidden" asp-for="DocIds" value="" id="testID2" />
                @*<select name="AssignedTo" asp-for="AssignedTo" asp-items="ViewBag.Users" class="form-control multipleSelect" multiple></select>*@

                <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div>



            @*<div class="form-group">
                    <label class="control-label">Reference Document</label>
                    <input type="file" name="files" multiple />
                </div>*@

            @*@await Html.PartialAsync("PartialFile.cshtml")*@



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" onclick="GetHtml();" />
            </div>
            @if (refdocs != null)
            {
                <div>
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Added By</th>
                                <th>Date Created</th>
                                <th>File Type</th>
                                <th>Preview</th>
                            </tr>
                        </thead>

                        @foreach (var doc in refdocs)
                        {
                            //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <tr>
                                <td>@doc.RefTitle</td>
                                <td>@doc.AddedBy</td>
                                <td>@doc.DateCreated</td>
                                <td>@doc.ContentType</td>
                                <td><button type="button" class="btn default" onclick='checkFluency("@doc.DocPath","@doc.RefTitle");'>Copy Link</button> </td>
                                @*<td><img src="@imgSrc" style="height:100px ; width:120px" /></td>*@
                            </tr>


                        }
                    </table>
                </div>}
        </form>




        @await Html.PartialAsync("PartialFile.cshtml")

        @*<p style="color:wheat;font-size:55px;text-align:center;">How to copy a TEXT to Clipboard on a Button-Click</p>

        <center>
            <p id="p1">http://fpsc.gov.pk/sites/default/files/F.4-227-2017-R-21-12-2018-PS.pdf</p>
            <p id="p2">Hi, I'm the 2nd TEXT</p><br />

            <button onclick="copyToClipboard('#p1')">Copy TEXT 1</button>
            <button onclick="copyToClipboard('#p2')">Copy TEXT 2</button>

            <br /><br /><input class="textBox" type="text" id="" placeholder="Dont belive me?..TEST it here..;)" />
        </center>*@




    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function GetHtml() {
        var html = CKEDITOR.instances['editor'].getData();
        $("#Description").val(html);

    }




    //$(document).ready(function () {
    //    CKEDITOR.replace('myckeditor');
    //    CKEDITOR.on('dialogDefinition', function (ev) {
    //        //dialogDefinition is a ckeditor event it's fired when ckeditor dialog instance is called
    //        var dialogName = ev.data.name;
    //        var dialogDefinition = ev.data.definition;
    //        if (dialogName == 'image') { //dialogName is name of dialog and identify which dialog is fired.
    //            var infoTab = dialogDefinition.getContents('info'); // get tab of the dialog
    //            var browse = infoTab.get('browse'); //get browse server button
    //            browse.onClick = function () {
    //                //here we can invoke our custom fileuploader or server files popup
    //                alert('open your file uploader or server files popup');
    //            };
    //        }
    //    });
    //});



    //set image path to dialog

    //var dialog = CKEDITOR.dialog.getCurrent();

    //dialog.selectPage('info');

    //var tUrl = dialog.getContentElement('info', 'txtUrl');

    //tUrl.setValue("put value of image path");

    //if (dialogName == 'image') {
    //    var linkTab = dialogDefinition.getContents('Link');
    //    linkTab.remove('browse');
    //}



    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    function checkFluency(id, title) {
        var html = CKEDITOR.instances['editor'].getData();
        var data = html + "<a href=http://localhost:88/test/" + id + ">" + title + "</a>";
    CKEDITOR.instances['editor'].setData(data);
}


    </script>




}


